body {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
    background-color: #061e38;
}

label {
    display: block;
    margin: 0 auto;
    font: 1rem 'Mountains of Christmas', cursive;
    color: white;
}

input,
label {
    display: block;
    margin: 0 auto;
}


.btn-start {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 24px;
    background-color: #008000;
    color: white;
    border: 3px solid black;
    border-radius: 15px;
    margin: 15px auto;
    display: block;
    width: 12rem;
    height: 3.8rem;
}

h1 {
    margin: 30px auto;
    text-align: center;
    color: white;
}

* {
    box-sizing: border-box;
}


.container {
    width: 1200px;
    height: 1100px;
    border: 5px solid black;
    margin: 15px auto;
    background-image: url("./images/background.jpg");
    background-size: cover;
    box-shadow: 6px 6px 20px gray;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    grid-template-areas:
        "day1 day2 day3 day4 day5"
        "day6 day7 day8 day9 day10"
        "day11 day12 day13 day14 day15"
        "day16 day17 day18 day19 day20"
        "day21 day22 day23 day24 day25";
}

.image {
    background-image: none;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.text {
    height: 100%;
    width: 100%;
    color: white;
    padding: 10px;
    border: 2px solid black;
    transition: opacity 2.5s;
    font-size: 30px;
}